# Ambiente virtual
.venv/
venv/
env/

# Bytecode Python
__pycache__/
*.py[cod]
*$py.class

# Arquivos de log
*.log

# Arquivos de configuração do PyCharm
.idea/

# Arquivos do sistema
.DS_Store
Thumbs.db

# Arquivos de dependências (opcional, se você usar requirements.txt)
# requirements.txt

# Pasta de testes ou build, se quiser ignorar
build/
dist/
